
/* nav */
/* *{
  background-color: hsl(0, 100%, 50%);
} */
.navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: hwb(0 100% 0%); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add box shadow */
  z-index: 1000;
}

.nav-link {
  text-decoration: none; 
  padding: 10px 20px; 
  /* margin: 0 10px;  */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px; 
  font-weight: bold;
}
.nav-link:hover{
  color:#ff0000;
  background-color: rgb(32, 234, 234);
  border-radius: 5px;
}



/* home */

.hp{
  font-size: 50px;
}

.train-effect {
  animation: moveTrain 5s infinite;
}

@keyframes moveTrain {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}



.home-para1 {
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 50px;
  display: flex; 
  align-items: center; 
  /* background-color: #fb8a194d; */
}

.home-para1 > div {
  flex: 1; /* Make both inner divs take equal width */
}

.sp {
  color:#007bff;
}


#pic {
  max-width: 100%;
  height: 500px; 
  border-radius: 10px;
}


.home-para1 > div {
  border-radius: 5px; 
  margin-right: 40px; 
  margin-left: 40px; 
}

.hp1{
  color: #007bff;
}
/* 
.home-para1 > div {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */

.home-para2 {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  display: flex; 
  align-items: center; 
  background-color: #fb8a194d;
  border-radius: 8px;
}

.home-para2 > div {
  border-radius: 5px; 
  margin-right: 40px; 
  margin-left: 40px; 
}


.home-para3 {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  display: flex; 
  align-items: center; 
  background-color: rgb(145, 243, 230);
  border-radius: 8px;
}

.home-para3 > div {
  border-radius: 5px; 
  margin-right: 40px; 
  margin-left: 40px; 
}


.home-para5 {
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  display: flex; 
  align-items: center; 
  border-radius: 8px;
}

.home-para5 > div {
  border-radius: 5px; 
  margin-right: 40px; 
  margin-left: 40px; 
}
.hp2{
  color: #007bff;
  text-align: center;
}

#pic1 {
  max-width: 100%;
  height: 300px; 
  border-radius: 10px;
}


/* homes */
.std-home-container {
  background-image: url('https://wallpapercave.com/wp/wp4385871.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  border-radius: 10px;
  text-align: center;
  margin-right: 700px;
  margin-left: 30px;
}

.home-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: blue;
  font-style: oblique;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.ent-home-container {
  background-image: url('https://images.pexels.com/photos/6325903/pexels-photo-6325903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ent-home-content {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  border-radius: 10px;
  /* text-align: center; */
  margin-right: 900px;
  margin-left: 30px;
  color:hsl(0, 0%, 0%)
}

.inv-home-container {
  background-image: url("https://financialtribune.com/sites/default/files/field/image/ordi/13_Investment.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inv-home-content {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin-right: 700px;
  margin-left: 30px;
}


/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info,
.footer-links,
.footer-contact {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer-info h3,
.footer-links h3,
.footer-contact h3 {
  color: #fff;
  font-size: 1.2em;
}

.footer-info p,
.footer-links ul,
.footer-contact p {
  color: #ccc;
}

.footer-links ul {
  padding: 0;
  list-style: none;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer-social a {
  color: #fff;
  margin-left: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: none;
}



/* login */




.login-container {

  max-width: 400px;
  margin: 0 auto; 
  margin-top: 90px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-shadow:
    inset 0 -3em 3em #7e827e4d,
    0 0 0 2px white,
    0.3em 0.3em 1em #ffffff99;
  
  /* background-color: hsl(36, 88%, 46%); */
}


.login-heading {
  color: #ff0000;
  text-align: center;
}

.login-form {
  text-align: center;
}

.login-table {
  margin: 0 auto;
}

.login-table td {
  padding: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
/* .login-submit-btn:hover{
  background-color: #007bff;
} */

.register-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}





/* register */

.registration-container {
  /* background-image: url('https://www.pngkey.com/png/full/98-985656_black-gradient-png.png');  */
  max-width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-shadow:
    inset 0 -3em 3em hsla(30, 3%, 38%, 0.302),
    0 0 0 2px white,
    0.3em 0.3em 1em #ffffff99;
}

.registration-heading {
  color: red;
  text-align: center;
}

.registration-form {
  text-align: center;
}

.registration-table {
  margin: 0 auto;
}

.registration-table td {
  padding: 10px;
}

.registration-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.registration-preview-image {
  max-width: 100%;
  max-height: 200px; 
  margin-top: 10px; 
}

.registration-error{
  color:red;
}



/* student */

.student-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.student-heading {
  margin-top: 100px;
  text-align: center;
  color:hwb(0 0% 100%)
}

.posts-container {
  margin-top: 20px;
}

.student-project-list {
  list-style: none; 
  padding: 0; 
}

.student-project-item {
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 8px; 
  margin-bottom: 20px; 
  
  box-shadow:
  inset 0 -3em 3em #ffffff4d,
  0 0 0 2px white,
  0.3em 0.3em 1em hwb(0 0% 100% / 0.6);

  transition: transform 0.3s ease;
}

.student-project-item:hover {
  transform: scale(1.05);
}

.student-project-item h3 {
  font-size: 18px; 
  margin-bottom: 10px; 
  color: hsl(9, 100%, 50%);
}

.student-project-item p {
  margin: 5px 0; 
}


.student-project-item {
  display: flex;
  flex-wrap: wrap;
}

.student-project-item h3 {
  flex-basis: 100%;
}

.student-project-item > div {
  flex-basis: 50%;
}

.student-project-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px; /* Adjust as needed */
  border-radius: 10px;
  height: 400px;
}

.student-project-item-btn{
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  background-color: hwb(123 32% 15%);
}

.student-project-item-btn:hover{
  background-color:rgb(0, 255, 51);
}



/* investor */

.investor-container {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.investor-heading {
  margin-top: 100px;
  text-align: center;
}

.investments-container {
  margin-top: 20px;

}

.investor-project-cards {
  display: flex;
  flex-direction: column;
  gap: 20px; 

}

.investor-project-card {
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 8px;
  
  box-shadow:
  inset 0 -3em 3em hsla(39, 86%, 57%, 0.302),
  0 0 0 2px white,
  0.3em 0.3em 1em hwb(40 5% 16% / 0.6);

  transition: transform 0.3s ease;
}

.investor-project-card:hover {
  transform: scale(1.05);
}

.investor-project-card h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
}

.investor-project-card p {
  margin: 5px 0; 
}

.investor-response-image{
  border-radius: 10px;
}

.investor-p-title{
  color: red;
}

/* result */
/* General styles */
.result-container {
  margin: 50px auto;
  max-width: 800px;
  /* background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.result-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: hsl(0, 97%, 48%);
  text-align: center;
  font-style: oblique;
}

/* Table styles */
.result-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.result-th,
.result-td {
  padding: 20px;
  text-align: left;
}

.result-th {
  background-color: #333;
  color: #fff;
}

.result-tr {
  background-color: #fff;
  transition: all 0.3s ease;
}

.result-tr:hover {
  background-color: #f2f2f2;
}

/* Alternate row background */
.result-tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Cell styles */
.result-td {
  border-bottom: 1px solid #ddd;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .result-container {
    padding: 10px;
  }
  .result-title {
    font-size: 24px;
  }
  .result-th,
  .result-td {
    padding: 12px;
  }
}






/* student send */
.std-send-container {
  max-width: 500px;
  margin: 90px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  box-shadow:
  inset 0 -3em 3em #3839384d,
  0 0 0 2px white,
  0.3em 0.3em 1em hsla(0, 0%, 100%, 0.6);
}

.std-send-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.std-send-form div {
  margin-bottom: 15px;
}

.std-send-form label {
  display: block;
  margin-bottom: 5px;
}

.std-send-input,
.std-send-textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.std-send-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.std-send-button:hover {
  background-color: #0056b3;
}


/* entrepreneur post */

.ent-post-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px #ff00001a;
  /* box-shadow:
  inset 0 -3em 3em #0202024d,
  0 0 0 2px white,
  0.3em 0.3em 1em hsla(0, 0%, 100%, 0.6); */
}

.ent-post-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.ent-post-form td {
  padding: 8px;
}

.ent-input-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ent-textarea-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ent-submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Styles for enabled state */
.ent-submit-button:enabled {
  background-color: #007bff; 
  color: white; 
}

/* Styles for disabled state */
.ent-submit-button:disabled {
  background-color: #cccccc; 
  color: #666666; 
  cursor: not-allowed;
}



/* ent-send */

.ent-send-container {
  max-width: 500px;
  margin: 90px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* box-shadow:
  inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px white,
  0.3em 0.3em 1em hsla(0, 0%, 100%, 0.6); */
}

.ent-send-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.ent-send-form td {
  padding: 8px;
}

.ent-input-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ent-textarea-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* .ent-submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ent-submit-button:hover {
  background-color: #0056b3;
} */



/* result form */

.res-form-container {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow:
  inset 0 -3em 3em rgb(0 200 0 / 30%),
  0 0 0 2px white,
  0.3em 0.3em 1em hwb(0 100% 0% / 0.6);
}

.res-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.res-form div {
  margin-bottom: 15px;
}

.res-form label {
  display: block;
  margin-bottom: 5px;
}

.res-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.res-submit-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.res-submit-button:hover {
  background-color: #0056b3;
}


/* student-response */
.student-response-container {
  max-width: 800px;
  margin: 90px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
/* 
  box-shadow:
  inset 0 -3em 3em hsla(215, 81%, 43%, 0.302),
  0 0 0 2px white,
  0.3em 0.3em 1em hsla(236, 100%, 51%, 0.6); */
}

.student-response-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.student-response-list {
  list-style: none;
  padding: 0;
}

.student-response-item {
  margin-bottom: 20px;
}

.student-response-label {
  font-weight: bold;
}

.student-response-label-status {
  font-weight: bold;
}

.student-response-label-status.pending {
  color: blue;
}
.student-response-label-status.active {
  color: green;
}
.student-response-label-status.rejected {
  color: red;
}

.student-response-label-status.accepted {
  color: green;
}


.student-response-divider {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.student-response-image{
  border-radius: 10px;
  height: 400px;
}

.student-response-btn{
  color: green;
  padding: 5px;
}
.student-response-btn:hover {
  background-color: hsl(73, 100%, 50%); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* All Users */

.cards-top-container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  padding: 20px;
  
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  /* background-color: hsl(39, 72%, 79%); */
  /* padding: 20px;
  border-radius: 10px; */
}

.sample-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  
  /* box-shadow:
  inset 0 -3em 3em #0f0f0f4d,
  0 0 0 2px white,
  0.3em 0.3em 1em hwb(0 100% 0% / 0.6); */

  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.sample-card:hover {
  transform: scale(1.05);
}

.sample-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sample-details {
  padding: 10px;
}

.sample-details p {
  margin: 5px 0;
}

.card-para{
  /* font-size: 18px; */
  padding: 50px;
  margin-right: 80px;
}
.card-div1{
  display: flex;
  background-color: hwb(63 42% 7%);
  padding:20px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.sample-users-search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.sample-users-search-bar:focus {
  outline: none;
  border-color: #007bff;
}



/* .card-div2{
  background-color: aqua;
  padding: 10px;
  border-radius: 10px;
} */




/* profile */
.profile-delete-btn{
  color:red;
  border-color: hsl(0, 100%, 50%);
  padding: 10px;
  border-radius: 5px;
}

.profile-update-btn{
  color: blue;
  border-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
}





